:root {
  --bs-btn-color: #fff;
  --bs-btn-bg: #f31260;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-border-color: #f31260;
  --bs-btn-hover-bg: #c20e4d;
  --bs-btn-hover-border-color: #c20e4d;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #920b3a;
  --bs-btn-active-border-color: #920b3a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #71717a;
  --bs-btn-disabled-border-color: #71717a;

  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-border-width: 1px;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem
    rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  .text-primary {
    --bs-primary-rgb: 243, 18, 96;
  }

  .navbar {
    --bs-navbar-active-color: #f31260;
    --bs-navbar-hover-color: #f871a0;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #42446E;
  font-family: poppins,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.dex {
  width: 100%;
  min-height: calc(100vh - 64px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  --bs-gutter-x: 2.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.dex-intro {
  margin: auto;
}

.nav-link {
  text-align: center;
  text-transform: uppercase;
}

.dex-tech-stack h1 {
  font-size: 3rem;
}

.dex-tech-stack p {
  font-weight: regular;
}

.dex-text {
    font-size: 1.25rem;
}

.dex-title {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 600;
  color: var(--bs-primary-rgb);
  margin-top: 1.5rem;
  line-height: 1.2;
}

.dex-avatar {
    width: 100%;
    height: auto;
}

.dex-btn {
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dex-btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(-bs-btn-hover-border-color);
}

.dex-btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.list-tech-stack {
  list-style-type: none;
}

@media (min-width: 768px) {
  .nav-link {
    text-align: right;
    text-transform: none;
  }
}

@media (min-width: 1200px) {
    .dex-title {
        font-size: 4rem;
    }
}
